* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section-login {
  align-items: center;
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  left: 50%;
  padding: 0.5em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
