* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e1f5fe;
}

.img-logo {
  box-shadow: 5px 5px 15px -3px black;
  margin-bottom: 30px;
  width: 80%;
}

.section-login {
  align-items: center;
  border: black 1px solid;
  box-shadow: 5px 5px 15px -3px black;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  left: 50%;
  padding: 0.5em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
